*.py[co]
build/
dist/
MANIFEST
docs/_build/
*.swp
.tox/
.coverage
slixmpp.egg-info/
.ropeproject/
4913
*~
.baboon/
.DS_STORE
.idea/
.vscode/
venv/
.venv
.python-version
slixmpp/*.so

# Added by cargo

/target
/Cargo.lock
