pip==22.2  #19.2.3
bump2version==1.0.1
wheel==0.37.1
watchdog==2.1.9
flake8==4.0.1
tox==3.25.1
coverage==6.4.2  #4.5.4
Sphinx==5.1.0
twine==4.0.1
pyyaml==6.0
pytest==7.1.2
pytest-runner==6.0.0
asynctest==0.13.0
pytest-asyncio==0.19.0
pytest-cov==3.0.0
pytest-mock==3.8.2
#pluggy==0.13.1    #<0.7,>=0.5
python-coveralls==2.9.3
requests==2.28.1
parsel==1.6.0
sphinx_rtd_theme==1.0.0
testfixtures==7.0.0
pytest-aiohttp==1.0.4
factory-boy==3.2.1

#docutils==0.12
