{% extends "base.html" %}

{% block content_title %}{{ behaviour }}{% endblock %}
{% block content %}
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ behaviour.mailbox_size() }}</h3>
                    <p>Mailbox size</p>
                </div>
                <div class="icon">
                    <i class="fa fa-envelope"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>Template</h3>
                    <p>{% filter escape %}{{ behaviour.template }}{% endfilter %}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-file-code-o"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ behaviour.is_killed() }}</h3>
                    <p>Is killed?</p>
                </div>
                <div class="icon">
                    <i class="fas fa-skull"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ behaviour._exit_code }}</h3>
                    <p>Exit Code</p>
                </div>
                <div class="icon">
                    <i class="fa fa-sign-out-alt"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>

    <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %}

