{% extends "base.html" %}

        {% block content %}
        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <!-- Main row -->
            <div class="row">

                <div class="col-md-4">

                    <!-- BEHAVIOURS LIST -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Active Behaviours</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <ul class="products-list product-list-in-box">
                                {% for behaviour in behaviours %}
                                    <li class="item">
                                        <div class="product-info">
                                            <a href="/behaviour/{{behaviour}}/" class="product-title">{{ behaviour }}
                                            </a>
                                            <a href="/behaviour/{{behaviour}}/kill/">
                                                <button type="button" class="btn btn-danger pull-right">Kill</button>
                                            </a>
                                            <span class="product-description">{{ behaviour.template }}</span>
                                        </div>
                                    </li>
                                {% endfor %}
                                <!-- /.item -->
                            </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
        {% endblock %}

