table.servicesT
{ /*font-family: Verdana;*/
font-weight: normal;
font-size: 11px;
color: #404040;
width: 100%;
background-color: #FFFFCC;
border: 1px #987654 solid;
border-collapse: collapse;
border-spacing: 0px;
margin-top: 0px;}


table.servicesT td.servHd
{ border-bottom: 2px solid #654321;
background-color: #F7EFDE;
text-align: center;
/*font-family: Verdana;*/
font-weight: bold;
font-size: 11px;
color: #404040;
width:5%;
}


table.servicesT td
{ border-bottom: 1px dotted #654321;
/*font-family: Verdana, sans-serif, Arial;*/
font-weight: normal;
font-size: 11px;
color: #404040;
background-color: white;
text-align: left;
padding-left: 3px;
padding-top: 3px;
}

.servBodL { 
border-left: 1px dotted #CEDCEA;
width:95%;
}
